#Sat Oct 17 18:03:31 BST 2020
FilePath=c\:\\sv\\JavaPrgs\\SearchBigFile\\src\\main\\java\\com\\sv\\bigfile\\SearchBigFile.java
DebugEnabled=true
WholeWord=false
LastN=5000
FontSize=16
MatchCase=false
RecentSearches=match;EXception;status;oxygen for long;token;com.sv;xception;com;cy>;<depen;depe;<<paren;<pa;er
SearchString=match
RecentFiles=c\:\\sv\\JavaPrgs\\SearchBigFile\\src\\main\\java\\com\\sv\\bigfile\\SearchBigFile.java;C\:\\sv\\1gb.txt;c\:\\sv\\100mb.txt;C\:\\sv\\1gb12.txt;C\:\\sv\\JavaPrgs\\SearchBigFile\\src\\main\\java\\com\\sv\\bigfile\\SearchStats.java;C\:\\sv\\JavaPrgs\\SearchBigFile\\src\\main\\java\\com\\sv\\bigfile\\UIName.java;C\:\\sv\\JavaPrgs\\SearchBigFile\\src\\main\\java\\com\\sv\\bigfile\\Constants.java;c\:\\;C\:\\sv\\1gb1.txt;C\:\\sv\\JavaPrgs\\SearchBigFile\\pom.xml
UseBRFileSizeInMB=100
