#Mon Oct 12 21:01:30 BST 2020
FilePath=c\:\\sv\\100mb.txt
DebugEnabled=false
WholeWord=false
LastN=2000
FontSize=16
MatchCase=false
RecentSearches=EXception;com;com.sv;cy>;<depen;depe;<<paren;<pa;er
SearchString=EXception
RecentFiles=C\:\\sv\\100mb.txt;c\:\\sv\\1gb.txt;c\:\\;C\:\\sv\\JavaPrgs\\SearchBigFile\\src\\main\\java\\com\\sv\\bigfile\\SearchBigFile.java;C\:\\sv\\1gb.txt;C\:\\sv\\1gb12.txt;C\:\\sv\\1gb1.txt;C\:\\sv\\JavaPrgs\\SearchBigFile\\pom.xml
